.page_skjermleser__divlist {
  padding-left: 40px;
  margin-top: 1rem;
}

.page_skjermleser__divlist > div {
  position: relative;
}

.page_skjermleser__divlist > div:before {
  content: "\25cf";
  display: block;
  position: absolute;
  left: -15px;
  font-size: 12px;
}

.page_skjermelser__h2 {
  font-size: 1.65rem;
  font-weight: 400;
}

.page_skjermelser__boldheading {
  margin-bottom: .75rem;
  margin-top: 1rem;
  display: block;
}

.page_skjermleser__closebutton {
  position: absolute;
  top: 5px;
  right: 5px;
}