.page_tastaturnavigasjon table {
  max-width: 60rem;
}

.page_tastaturnavigasjon ul {
  padding: 0;
  padding-left: 1rem;
  margin: 0;
}

.page_tastaturnavigasjon fieldset,
.page_tastaturnavigasjon select {
  margin: 1rem 0;
}

.page_tastaturnavigasjon .actionbutton {
  margin-top: 1rem !important;
}

.page_tastaturnavigasjon form {
  max-width: 40rem;
}