.page_axe__illustration {
  max-width: 30rem;
  border: 1px solid black;
}

.page_axe__kontrastlg {
  font-size: 1.875rem;
  display: block;
}

.page_axe__images img {
  max-width: 20rem;
}

.page_axe__slett {
  width: 2rem;
  vertical-align: middle;
  margin-right: 1rem;
}

.page_axe__absolutecontainer {
  position: relative;
}

.page_axe__absolutebackground {
  width: 150px;
  height: 30px;
  background: #000;
  position: absolute;
}

.page_axe__text {
  color: #fff;
  position: relative;
  z-index: 1;
}

.page_axe__closetext {
  padding-left: 0.5rem;
}

.page_axe .atom_inline-btn {
  vertical-align: middle;
}