.page_fokusmarkor .actionbutton {
  display: inline-block !important;
}

.page_fokusmarkor .actionbutton:focus {
  box-shadow: none !important;
}

.page_fokusmarkor .atom_secondarybutton {
  margin-left: 1rem;
  display: inline-block;
}