.page_tastaturnavigasjon table {
  max-width: 60rem;
}

.page_tastaturnavigasjon table ul {
  padding: 0;
  padding-left: 1rem;
  margin: 0;
}

.page_tastaturnavigasjon fieldset,
.page_tastaturnavigasjon select {
  margin: 1rem 0;
}

.page_tastaturnavigasjon .actionbutton {
  margin-top: 1rem !important;
}

.page_tastaturnavigasjon form {
  width: 30rem;
}

.page_tastaturnavigasjon .select {
  margin-bottom: 0;
  margin-top: 1rem;
}

.page_tastaturnavigasjon .flexitem.main {
  min-height: 0;
}

.page_tastaturnavigasjon__cancelbutton:focus {
  border: 0;
}

.page_tastaturnavigasjon__fasit {
  margin-top: 1rem;
}

.page_tastaturnavigasjon__login-btn {
  display: inline !important; 
}