.layout-container {
  margin: 0 4rem;
  max-width: 50rem;
}

.heading--border-bottom {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 2rem;
}

.main {
  min-height: 30rem;
}

.mol_emphasisbox {
  margin-top: 1rem;
}

code {
  display: inline;
  background: #e9e9e9;
  padding: 0;
}

p {
  max-width: 40rem;
}

h3,
h2 {
  margin-bottom: 0;
}

h1 {
  margin-bottom: 2rem;
}

.mol_emphasisbox.transparent {
  background: transparent;
}

.index-link--active {
  display: none !important;
}

.pageheader {
  padding-top: 0.5rem;
  min-height: 32px;
}